@import '../../global.scss'; 

.contact{
    background-color: $darkest;
    color: $lightest;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .header {
      font-size: 4rem;
      font-family: "Fredericka the Great", cursive;
      font-weight: lighter;
      letter-spacing: 5px;
      text-align: center;
      @include mobile{
        font-size: 3rem;
      }
    }
    .container{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .icon{
        font-size: 3rem;
        color: $lightest;
        &:hover{
        color: $light;
      }
      }
    }
}