@import "../../global.scss";

.skills {
  color: $lighter;
  // border: 1px dotted red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .headsection {
    padding: 1rem;
    // border: 1px blue dashed;
    width: 100%;
    text-align: center;
    .head {
      font-size: 4rem;
      font-family: "Fredericka the Great", cursive;
      font-weight: lighter;
      letter-spacing: 5px;
    }
  }
  .sections {
    // border: 1px yellow solid;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    .section {
      // border: 1px red solid;
      display: flex;
      flex-direction: row;
      max-height: 20vh;
      width: 90%;
      // justify-content: flex-start;
      align-items: center;
      .header {
        flex: 2;
        font-size: 2rem;
      }
      .content {
        // border: 1px green solid;
        min-height: 80%;
        flex: 6;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        .btn {
          height: 2.4rem;
          background-color: $darkest;
          color: $lighter;
          padding: 5px 10px;
          margin: 5px 10px;
          border-radius: 10px;
          border-width: 0;
          box-shadow: 0px 0px 1px wheat;
          font-size: 1.2rem;
          font-family: "Roboto";
          font-weight: bold;
          &:hover {
            box-shadow: 0px 0px 5px rgb(245, 165, 165);
          }
        }
      }
    }
  }
}
